<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registration form</h3>
        </div>
        <div class="panel-body">
          <form role="form" (ngSubmit)="registration()">
            <div class="form-group">
              <input type="text" name="username" id="username" [(ngModel)]="model.username" minlength="5"
                     required="required" #username="ngModel" class="form-control input-sm" placeholder="username">
              <div *ngIf="username.invalid && (username.dirty || username.touched)"
                   class="alert alert-danger">
                <div *ngIf="model.username.length<5">
                  Username must be at least 5 characters long.
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" name="email" id="email" [(ngModel)]="model.email" minlength="5" required="required"
                     #email="ngModel" class="form-control input-sm" placeholder="email" >
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password" id="password" [(ngModel)]="model.password" minlength="5"
                         required="required" #password="ngModel" class="form-control input-sm" placeholder="password">
                  <div *ngIf="password.invalid && (password.dirty || password.touched)"
                       class="alert alert-danger">
                    <div *ngIf="model.password.length<5">
                      Password must be at least 5 characters long.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password_confirmation" id="password_confirmation"
                         [(ngModel)]="model.repeatPassword" #repeatPassword="ngModel" minlength="5" required="required"
                         class="form-control input-sm" placeholder="confirm password">
                  <div *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)"
                       class="alert alert-danger">
                    <div *ngIf="model.repeatPassword.length<5">
                      RepeatPassword must be at least 5 characters long.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input type="submit" name="submit" value="submit" class="btn btn-info btn-block">
            <br>
            <div id="register-link" class="text-right">
              <a routerLink="/login" class="text-info">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
